@{
    ViewData["Title"] = "Gymnastics - Home";
}
<h1>Welcome to my page about Gymnastics!</h1>
<img src="/images/PresentingBar.png" alt="Gymnast Performing">
<img src="/images/PresentingRings.png" alt="Gymnast Routine">
<p>Gymnastics is an exciting sport that requires agility, strength, and discipline. 
    It's really difficult to get into, but once you are able to master the basics it's a great way to stay light on your feet and active. 
    Regular practice improves flexibility, coordination, and balance, helping athletes move with more precision. 
    It also builds confidence and perseverance as gymnasts set and achieve new skills. 
    Additionally, gymnastics provides a full-body workout, enhancing overall fitness while being an enjoyable and engaging sport </p>
<p>It is practiced by athletes worldwide and has various disciplines, including artistic, rhythmic, and trampoline gymnastics.</p>
<footer>&copy; 2025 Built by Caleb Stephenson</footer>
<a href="/Calculator">Go to Calculator</a>